.carousel {
    position: relative;
    
    &__items {
        position: relative;
        margin-bottom: size(2);
        z-index: 1000;
    }

    &__arrow {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        height: size(10);
        width: size(6);
        background: none;
        background-image: url(../assets/images/interface/arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        outline: none;
        cursor: pointer;
        border: none;
        z-index: 1000;
        
        &_left {
            left: - size(8);

            &:hover {
                transform: translate(- size(.5), -50%);
            }
        }

        &_right {
            right: - size(8);
            transform: translateY(-50%) rotate(180deg);

            &:hover {
                transform: translate(size(.5), -50%) rotate(180deg);
            }
        }
    }

    &__pagination {
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .carousel {
        &__arrow {
            padding: 0;
            height: size(2);
            width: size(5);
            background-image: url(../assets/images/interface/long-arrow.png);

            &_left {
                top: unset;
                left: 0;
                bottom: 0;
            }
    
            &_right {
                top: unset;
                right: 0;
                bottom: 0;
            }
            
            &_left_inside {
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../assets/images/interface/white-arrow.png);
                left: 0;
            }
            
            &_right_inside {
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                background-image: url(../assets/images/interface/white-arrow.png);
                right: 0;
            }
        }

        &__pagination_inside {
            position: absolute;
            bottom: size(2);
            left: 50%;
            transform: translateX((-50%));
            color: $white;
            z-index: 1000;
        }
    }
}