.contacts {
    color: $white;
    background-color: $black;
    border-bottom: 1px solid $dark;
}

@include media-breakpoint-down(md) {
    .contacts {
    }
}
@include media-breakpoint-down(xs) {
    .contacts {
    }
}