.contacts {
    color: $white;
    background-color: $black;
    border-bottom: 1px solid $dark;

    &__row {
        margin-bottom: size(10);
    }

    &__icon {
        margin-right: size(1);
    }

    &__map {
        content: '';
        height: size(64);
        background-color: $dark;
    }
}

@include media-breakpoint-down(md) {
    .contacts {
    }
}
@include media-breakpoint-down(xs) {
    .contacts {
    }
}