.faq {
    position: relative;
    background-color: $d-white;

    &__decoration {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;
        background-image: url(../assets/images/backgrounds/faq.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }

    &__wrapper {
        
    }

    &_inactive {
        color: $gray;
    }

    &__item {
        margin-bottom: size(8);
    }

    &__text {
        padding-left: size(4);
    }
}

@include media-breakpoint-down(md) {
    .faq {
    }
}

@include media-breakpoint-down(sm) {
    .faq {
    }
}


@include media-breakpoint-down(xs) {
    .faq {
    }
}