.footer {
    color: $white;
    background-color: $black;

    &__logo {
        font-size: 2.5rem;
        margin-bottom: size(12);
    }

    &__logo-link {
        color: white;
        text-decoration: none;

        &:hover {
            color: $l-gray;
        }
    }
}

@include media-breakpoint-down(sm) {
    .footer {

    }
}