.gallery {
    &__row {
        margin-bottom: - size(4);
    }

    &__item {
        margin-bottom: size(4);
    }

    &__image {
        height: size(32);
        width: 100%;
        object-fit: cover;
    }

    &__pagination {
        text-align: center;
    }

    &__arrow {
        margin-top: - size(2);
    }
}

@include media-breakpoint-down(md) {
    .gallery {
        &__image {
            height: size(39);
        }
    }
}
@include media-breakpoint-down(xs) {
    .gallery {
    }
}