.services {
    &__item {
        position: relative;
        margin-bottom: size(8);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__content {
        padding-right: size(2);
    }

    &__image {
        height: size(42);
        width: 100%;
        object-fit: cover;
    }

    &__btn {
        margin-bottom: size(2.5);
    }
}

@include media-breakpoint-down(md) {
    .services {
        &__image {
            height: size(32);
        }
    }
}

@include media-breakpoint-down(sm) {
    .services {
        &__item {
            margin-bottom: size(3);
        }

        &__sub {
            position: relative;
            z-index: 1;
        }

        &__over {
            position: absolute;
            padding: 0;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(34, 34, 34, .7);
            border-radius: $corners;
            text-align: center;

            z-index: 100;
        }

        &__title {
            text-align: center;
        }

        &__link {
            display: block;
            color: $white;
            line-height: size(16);
            width: 100%;
        }

        &__image {
            height: size(16);
        }

        &__content {
            display: none;
        }

        &__btn {
            display: none !important;
        }
    }
}