.services {

    &__item {
        margin-bottom: size(8);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        height: size(42);
        width: auto;
    }

    &__btn {
        margin-bottom: size(2.5);
    }
}

@include media-breakpoint-down(md) {
    .services {
    }
}

@include media-breakpoint-down(sm) {
    .services {
    }
}