.services {
    &__item {
        position: relative;
        margin-bottom: size(8);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__text {
        padding-right: size(2);
    }

    &__image {
        height: size(42);
        width: 100%;
        object-fit: cover;
    }

    &__btn {
        margin-bottom: size(2.5);
    }
}

@include media-breakpoint-down(md) {
    .services {
        &__image {
            height: size(32);
        }

        &__content {
            padding-left: size(2);

            &_left {
                padding-left: 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .services {
        &__item {
            padding: 0 size(3) size(5) size(3);
            margin-bottom: size(5);
            border-bottom: 1px solid $l-gray;

            &:last-of-type {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        &__decoration {
            display: none;
        }

        &__content {
            padding-left: 0;
        }
    }
}