.title-screen {
    background-size: cover;
    background-image: url(../assets/images/title_screen.png);

    &__content {
        padding-top: px(50);
        padding-bottom: px(46);
        color: $white;
    }
}

@include media-breakpoint-down(md) {
    .title-screen {
      
    }
}

@include media-breakpoint-down(sm) {
    .title-screen {
        
    }
}

@include media-breakpoint-down(xs) {
    .title-screen {
      
    }
}