.title-screen {
    background-image: url(../assets/images/backgrounds/title_screen.png);
    background-size: cover;

    &__content {
        padding-top: size(50);
        padding-bottom: size(46);
        color: $white;
    }
}

@include media-breakpoint-down(md) {
    .title-screen {
      
    }
}

@include media-breakpoint-down(sm) {
    .title-screen {
        
    }
}

@include media-breakpoint-down(xs) {
    .title-screen {
      
    }
}