.footer {
    background-color: $dark;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $white;

    &__copyright { 
        display: block;
        font-family: $sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.4em;
    }
}

@include media-breakpoint-down(sm) {
    .footer {
        text-align: center;

        &__copyright {
            margin-bottom: $sm;
        }
    }
}