.partners {
    margin-bottom: 150px;
    background-color: $dark;
    text-align: center;

    &--no-mb {
        margin-bottom: 0 !important;
    }

    &__title {
        color: $white;
    }

    &__item {
        display: inline-block;
    }

    &__logo {
        width: 150px;
        height: auto;
    }
}

@include media-breakpoint-down(md) {
    .partners {
        &__logo {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(md) {
    .partners {
        margin-bottom: $xlg;

       

        &__logo {
            height: auto;
        }
    }
}
@include media-breakpoint-down(sm) {
    .partners {
        margin-bottom: $lg;

        &__item {
            margin-bottom: $sm;
        }
    }
}