.partners {
    background-color: $dark;
    text-align: center;

    &__title {
        color: $white;
    }

    &__logo {
        width: 90%;
        height: auto;
    }
}

@include media-breakpoint-down(md) {
    .partners {
        margin-bottom: $xlg;
    }
}
@include media-breakpoint-down(xs) {
    .partners {
        margin-bottom: $lg;
    }
}