.portfolio {
    margin-bottom: 150px;
    text-align: center;

    background-color: $accent;

    &__preview {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__col {
        padding: 0;
    }

    &__arrow {
        vertical-align: baseline;
        
        transition: .2s ease-in;
    }
    
    &--arrow-open {
        transform: rotate(-90deg);
    }

    &__btn {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: $sm;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        text-align: left;
        color: $white;
        outline: none;
        cursor: pointer;
    }

    &__btn-text {
        margin-left: 15px;
    }
}

@include media-breakpoint-down(md) {
    .portfolio {
        margin-bottom: $xlg;

        &__preview {
            height: 300px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .portfolio {
        margin-bottom: $lg;
    }
}