.questions {
    margin-bottom: 150px;

    &__arrow {
        vertical-align: baseline;
        transform: rotate(-90deg);
        
        transition: .2s ease-in;
    }
    
    &--arrow-open {
        transform: rotate(0deg);
    }

    &__title {
        margin: 0;
        margin-bottom: $sm;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        text-align: left;
        color: $accent;
        outline: none;
        cursor: pointer;
    }

    &__title-text {
        margin-left: 15px;
    }

    &__content {
        max-width: 600px;
        margin: 0;
        padding-bottom: $md;
        font-family: $sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        text-align-last: left;
        color: $gray;
    }
}

@include media-breakpoint-down(md) {
    .questions {
        margin-bottom: $xlg;

        &__title {
            margin: 0;
            margin-bottom: $xs;
        }

        &__content {
            padding-bottom: $sm;
        }
    }
}

@include media-breakpoint-down(sm) {
    .questions {
        margin-bottom: $lg;

        &__title {
            font-size: 1.2em;
        }
    }
}


@include media-breakpoint-down(xs) {
    .questions {
        margin-bottom: $lg;
    }
}