.questions {
    &__arrow {
        vertical-align: top;
        padding-right: 15px;
    }

    &__container {
        padding-bottom: 40px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        text-align: left;
        color: $accent;
        outline: none;
        cursor: pointer;
    }

    &__content {
        max-width: 730px;
        margin: 0;
        font-family: $sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        text-align-last: left;
        color: $gray;
    }
}