.reviews {
    margin-bottom: 150px; 
    
    &__card {
        padding: 30px;
        background-color: $darker-white;
        margin-bottom: 30px;
    }

    &__quote {
        display: block;
        margin-bottom: -50px;
        font-family: $oswald;
        font-style: normal;
        font-weight: bold;
        font-size: 6em;
        color: $accent;
    }

    &__content {
        font-family: $sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5em;
        color: $gray;
    }

    &__name {
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4em;
        letter-spacing: 0.02em;
        color: black;
    }

    &__company {
        color: $accent;
    }
}

@include media-breakpoint-down(md) {
    .reviews {
        margin-bottom: $xlg;
    }
}

@include media-breakpoint-down(sm) {
    .reviews {
        margin-bottom: $lg;
    }
}