.title-screen {
    background: url('../../../public/images/background.png') no-repeat;
    background-size: 100% 740px;

    &__content {
        padding-top: 190px;
        padding-bottom: 190px;
        text-align: center;
        color: $white;
    }

    &__item {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 3em;
        line-height: 1.5em;
        letter-spacing: 0.02em;
    }

    &__subtitle {
        margin: 0;
        font-family: $oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
    }

    &__numbers {
        text-align: center;
        background-color: $darker-white;
    }

    &__value {
        margin-bottom: 10px;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 4.5em;
        color: $accent;
    }

    &__text {
        margin-bottom: 10px;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 2.5em;
        color: $black;
    }

    &__sub-text {
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        color: $gray;
    }
}