.title-screen {
    margin-bottom: 150px;
    background-size: cover;
    background-position-y: -150px;

    &__content {
        padding-top: 260px;
        padding-bottom: 190px;
        text-align: center;
        color: $white;
    }

    &__item {
        padding-top: $lg;
        padding-bottom: $lg;
    }

    &__title {
        margin: 0;
        margin-bottom: $sm;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 4em;
        line-height: 1.5em;
        letter-spacing: 0.02em;
    }

    &__subtitle {
        margin: 0;
        font-family: $sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em;
    }

    &__numbers {
        text-align: center;
        background-color: $darker-white;
    }

    &__value {
        margin-bottom: 10px;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 4.5em;
        color: $accent;
    }

    &__text {
        margin-bottom: 10px;
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 2.5em;
        color: $black;
    }

    &__sub-text {
        font-family: $oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        color: $gray;
    }
}

@include media-breakpoint-down(md) {
    .title-screen {
        margin-bottom: $xlg;
        background-position-y: -80px;

        &__content {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__item {
            padding-top: $sm;
            padding-bottom: $sm;
        }

        &__title {
            margin-bottom: $sm;
            font-size: 2.5em;
        }
    
        &__value {
            font-size: 2.8em;
        }
    
        &__text {
            font-size: 2em;
        }
    }
}

@include media-breakpoint-down(sm) {
    .title-screen {
        margin-bottom: $lg;

        &__value {
            font-size: 2em;
        }
    
        &__value {
            margin-bottom: 5px;
        }

        &__text {
            margin-bottom: 5px;
            font-size: 1.5em;
        }
    }
}

@include media-breakpoint-down(xs) {
    .title-screen {
        background-position-y: -100px;

        &__title {
            font-size: 2em;
        }
    }
}