// FONTS
$rubik: 'Rubik', sans-serif;
$lato: 'Lato', sans-serif;

// COLORS
$black: #222222;
$dark: #373737;
$gray: #7C7C7C;
$l-gray: #E0E0E0;
$white: #F9F9F9;
$l-white: #F6F6F6;

//SPACINGS
$xs: 15px;
$sm: 30px;
$md: 40px;
$lg: 60px;
$xlg: 100px;