.header {
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .2s ease-in;

    z-index: 1000;

    &--scrolled {
        background-color: $dark;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        cursor: pointer;
    }

    &__button {
        padding: 12px 15px;
        font-size: 1.5em;
        background-color: $accent;
        outline: none;
        border: none;
        color: $white;
        transition: .4s ease-out;
        cursor: pointer;

        &:hover {
            background-color: $light-accent;
        }
    }
}