.header {
    position: fixed;
    width: 100%;
    padding-top: size(8);
    padding-bottom: size(8);

    z-index: 2000;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo-link {
        display: inline-block;
        font-family: $lato;
        font-size: 2rem;
        font-weight: 400;
        color: $white;
        text-decoration: none;
    }

    &__ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__nav-item {
        display: inline-block;
        margin-right: size(2);

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__nav-link {
        font-family: $lato;
        font-size: 1rem;
        font-weight: 400;
        color: $white;
        text-decoration: none;
    }
}

// .header {
//     position: fixed;
//     width: 100%;
//     padding-top: size(8);
//     padding-bottom: size(8);
//     transition: .2s ease-in;

//     z-index: 1000;

//     &--scrolled {
//         background-color: $dark;
//         padding-top: 5px;
//         padding-bottom: 5px;
//     }

//     &__navbar {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }

//     &__logo {
//         cursor: pointer;
//     }

//     &__button {
//         padding: 12px 15px;
//         font-size: 1.5em;
//         background-color: $accent;
//         outline: none;
//         border: none;
//         color: $white;
//         transition: .4s ease-out;
//         cursor: pointer;

//         &:hover {
//             background-color: $light-accent;
//         }
//     }
// }